<div class="content">
    <h1>Nome da Loja: {{shopName}}</h1>
    <p>Valor Total: {{amount}}</p>
    <table>
      <thead>
        <tr>
          <th>Tipo da operação</th>
          <th>Valor da operação</th>
          <th>Hora</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <th>{{ transaction.typeOperation }}</th>
          <th>{{ transaction.value }}</th>
          <th>{{ transaction.hour }}</th>
          <th>{{ transaction.date }}</th>
        </tr>
      </tbody>
    </table>
    <div class="backPage">
        <button [routerLink]="['/shop']">Voltar</button>
    </div>
  </div>